$card-width: 6vw;
$card-height: 9.2vw;
$card-border:  2px solid black;
$card-border-radius: 0.4vw;
$card-back: url("../../assets/back.png") no-repeat;
$card-suit: url("../../assets/spade.png") #ffffff;

@mixin card-base {
  width: $card-width;
  height: $card-height;
}

//CARD
.card {
  @include card-base;
  position: relative;
  cursor: pointer;
  margin-left:15px;
  border: $card-border;
  border-radius: $card-border-radius;
}

.card:hover {
  box-shadow: 0 4px 8px 0 greenyellow;
}

.card-closed {
  background: $card-back;
  background-size: contain;
  margin-bottom: -8.5vw;
  border: 2px solid transparent;
}

.spade {
  background: $card-suit;
  color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.card-rank-left {
  font-weight: bold;
  text-align: left;
  margin-left: 0.4vw;
  margin-top: 0.2vw;
}

.card-rank-right {
  font-weight: bold;
  text-align: left;
  position: relative;
  transform: rotate(180deg);
  top: 2.7vw;
  margin-right: 0.4vw;
}

.card-closed > .card-container {
  visibility: hidden;
}

.card-selected {
  box-shadow: 10px 10px 12px black;
  border: $card-border;
}

.card-stock {
  position: absolute;
  top: 15vh;
  right: 87vw;
}

.card-wrapper {
  margin-bottom: -7.6vw;
  transition: all 4s smooth;
}

//CARD HOLDER
.cardholder {
  @include card-base;
  position: relative;
  opacity: 0.5;
  border: 2px solid rgb(8, 189, 90);
  background-color: black;
  border-radius: $card-border-radius;
  margin-left: 10px;
}


@media screen and (max-width: 600px) and (min-width: 400px) {
  .card {
      font-size: 5px;
      margin-left: 5px;
  }

  .card-stock {
    top: 70px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
  .card {
    width: 6vw;
    height: 9.2vw;
    font-size: 8px;
    margin-left: 15px;
  }
  
  .card-stock {
    top: 15%;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1000px) {
  .card {
    font-size: 11px;
  }
}
    