$background-image: url(../../assets/background.jpg);

//BACKGROUND
.background {
    background-image: $background-image;
    position: fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index: -99;
}

//NAVBAR
.header {
    position: fixed;
    right: 0;
    left: 0;
    overflow: hidden;
    background-color: #333;
}

.header-right {
    float: right;
    overflow: hidden;
}

.header-left {
    float: left;
    overflow: hidden;
}

.header-left p {
    font-size: 16px;
    color: white;
    font-family: inherit;
    font-weight: bold;
    margin-left: 4vw;
}

.header-right .restart-btn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 16px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.header-right:hover .restart-btn {
    background-color: rgb(8, 189, 90);
}

//TABLEAU
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
  